{% extends 'base/main.html' %}
{% load static%}

{% block style_link %}
<link rel="stylesheet" href="{% static 'base/signup_style.css' %}">
{% endblock style_link %}


{% block content %}



<form method="POST">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="row">
                <div id="box" class="col-md-5 mx-auto">
                    <h1 style="text-align: center; font-size: xx-large;padding-top:10px;">Tell us about yourself</h1>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_adopter_name">Your name: </label>
                            <input input type="text" name="adopter_name"
                            required id="id_adopter_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_age">Age:</label>
                            <input input type="number" name="age" min="0" required id="id_age" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_location">Location:</label>
                            <input input type="text" name="location" maxlength="30" required
                            id="id_location" class="form-control">
                            <!-- <span class="helptext">Enter the same password as before, for verification.</span> -->
                        </div>


                        <div class='row'>
                            <div class='col-12'>
                                <button type="submit" class="btn btn-2 btn-lg"> Save </button>
                            </div>
                            <div>
                    </form>

                </div>
            </div>
        </div>









<!--    <form method="post">{% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <input type="submit" value="Save">-->
<!--    </form>-->

{% endblock content%}