{% extends 'base/main.html' %}
{% load static%}
{% block style_link %}
<link rel="stylesheet" href="{% static 'base/signup_style.css' %}">

{% endblock style_link %}

{% block content %}


 <form method="POST">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="row">
                <div id="box" class="col-md-5 mx-auto">
                    <h1 style="text-align: center;">Fill form</h1>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_age">Age:</label>
                            <input type="number" name="age" min="0" required id="id_age" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_breed">Breed:</label>
                            <input type=input type="text" name="breed" maxlength="20" required id="id_breed" class="form-control">

                        </div>
                        <p><label for="id_sex">Sex:</label> <select name="sex" required id="id_sex" class="form-control">
                            <option value="" selected>---------</option>

                            <option value="MALE">male</option>

                            <option value="FEMALE">female</option>
                        </select></p>
                        <div class="form-group">
                            <label for="id_weight">Weight:</label>
                            <input input type="number" name="weight" min="0" required id="id_weight" class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="id_found">Found:</label>
                            <input input type="text" name="found" maxlength="30" required id="id_found" class="form-control">

                        </div>
                        <p><label for="id_is_apartment_friendly">Adapts well to apartment living:</label> <select class="form-control" name="is_apartment_friendly"
                            id="id_is_apartment_friendly">
                            <option value="unknown" selected>Unknown</option>

                            <option value="true">Yes</option>

                            <option value="false">No</option>

                        </select></p>
                    <p><label for="id_is_family_friendly">Family friendly:</label> <select class="form-control" name="is_family_friendly"
                            id="id_is_family_friendly">
                            <option value="unknown" selected>Unknown</option>

                            <option value="true">Yes</option>

                            <option value="false">No</option>

                        </select></p>
                    <p><label for="id_is_kid_friendly">Kid friendly:</label> <select class="form-control" name="is_kid_friendly" id="id_is_kid_friendly">
                            <option value="unknown" selected>Unknown</option>

                            <option value="true">Yes</option>

                            <option value="false">No</option>

                        </select></p>
                    <p><label for="id_is_dog_friendly">Dog friendly:</label> <select class="form-control" name="is_dog_friendly" id="id_is_dog_friendly">
                            <option value="unknown" selected>Unknown</option>

                            <option value="true">Yes</option>

                            <option value="false">No</option>

                        </select></p>
                    <p><label for="id_energy_level">Energy level:</label> <select class="form-control" name="energy_level" required id="id_energy_level">
                            <option value="" selected>---------</option>

                            <option value="LOW">Low</option>

                            <option value="MEDIUM">Medium</option>

                            <option value="HIGH">High</option>

                        </select></p>
                    <p><label for="id_is_good_for_beginners">Good for beginners:</label> <select class="form-control" name="is_good_for_beginners"
                            id="id_is_good_for_beginners">
                            <option value="unknown" selected>Unknown</option>

                            <option value="true">Yes</option>

                            <option value="false">No</option>

                        </select></p>


                    </form>


                        <div class='row'>
                            <div class='col-12'>
                                <button type="submit" class="btn btn-2 btn-lg"> Save </button>
                            </div>
                            <div>
                    </form>

                </div>
            </div>
        </div>

<!--    <form method="POST">-->
<!--        {% csrf_token %}-->

<!--        {{ form.as_p}}-->

<!--        <div>-->
<!--            <button type="submit">Save</button>-->
<!--        </div>-->
<!--    </form>-->


{% endblock content %}