{% extends 'base/main.html' %}
{% load static%}

{% block style_link %}
<link rel="stylesheet" href="{% static 'base/signup_style.css' %}">
{% endblock style_link %}

{% block content %}
<form method="POST">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="row">
                <div id="box" class="col-md-5 mx-auto">
                    <h1 style="text-align: center; font-size: xx-large;padding-top:10px;">Tell us about shelter</h1>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_shelter_name">Shelter name: </label>
                            <input input type="text" name="shelter_name" maxlength="30" required id="id_shelter_name"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_location">Location:</label>
                            <input type="text" name="location" maxlength="30" required id="id_location" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="id_website">Website:</label>
                            <input type="text" name="website" maxlength="30" required id="id_website" class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="id_phone_number">Phone number:</label>
                            <input type="text" name="phone_number" maxlength="9" required id="id_phone_number" class="form-control">

                        </div>


                        <div class='row'>
                            <div class='col-12'>
                                <button type="submit" value="Update" class="btn btn-2 btn-lg"> Save </button>
                            </div>
                            <div>
                    </form>

                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
        <script src="app.js"></script>

<!--    <form method="post">{% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <input type="submit" value="Update">-->
<!--    </form>-->

{% endblock content%}