{% extends 'base/main.html' %}

{% load static%}

{% block style_link %}
<link rel="stylesheet" href="{% static 'base/signup_style.css' %}">
{% endblock style_link %}

{% block content %}

<div class="container mt-5">
            <div class="row">
            <div id="box" class="col-md-5 mx-auto">
                <h1 style="text-align: center; font-size: xx-large;padding-top:10px;">Sign up</h1>
                <form method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_email">Email address:</label>
                        <input type="email" name="email" maxlength="254" autofocus required id="id_email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_password1">Password:</label>
                        <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control">
                        <!-- <span class="helptext">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </span> -->
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Password confirmation:</label>
                        <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control">
                        <!-- <span class="helptext">Enter the same password as before, for verification.</span> -->
                    </div>
                    <div class="form-group">
                        <label for="id_role">How will you use the website?</label>
                        <select name="role" required id="id_role" class="form-control">
                            <option value="" selected>---------</option>
                            <option value="ADOPTER">I want to adopt</option>
                            <option value="SHELTER">Shelter</option>
                        </select>
                    </div>

                    <div class='row'>
                        <div class='col-12'>
                            <button type="submit" class="btn btn-2 btn-lg"> Sign up!</button>
                        </div>
                    </div>
                </form>

            </div>
            </div>
        </div>



</div>





<!--<fieldset>-->
<!--            <legend>Join Today!</legend>-->
<!--            {{ form.as_p  }}-->
<!--        </fieldset>-->
<!--        <div>-->
<!--            <button type="submit">Join</button>-->
<!--        </div>-->

<!--    </form>-->
<!--{% if messages %}-->
<!--                {% for message in messages %}-->
<!--                    <div class="alert alert-{{message.tags}}">-->
<!--                        {{ message }}-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--{% endif %}-->


{% endblock content%}

<!--<fieldset>-->
<!--            <legend>Join Today!</legend>-->
<!--            {{ form.as_p  }}-->
<!--        </fieldset>-->
<!--        <div>-->
<!--            <button type="submit">Join</button>-->
<!--        </div>-->