{% extends 'base/main.html' %}
{% load static%}

{% block style_link %}
<link rel="stylesheet" href="{% static 'base/signup_style.css' %}">
{% endblock style_link %}


{% block content %}


    <div class="container mt-5">
        <div class="row">
        <div id="box" class="col-md-5 mx-auto">
            <h1 style="text-align: center; font-size: xx-large;padding-top:10px;">Log in</h1>
            <form method="POST">
                {% csrf_token %}

<!--                <input type="hidden" name="csrfmiddlewaretoken" value="cwmaILghw5I43AMylBoPipEiTpS3Cj75ajyKejxKCxW01pGZ2RBqi3lHrAql2JDr">-->
                <div class="form-group">
                    <label for="id_username">Email address:</label>
                    <input type="email" name="username"   maxlength="254" required id="id_username" class="form-control">
                </div>

                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control">
                </div>

                <div class='row'>
                    <div class='col-12'>
                        <button type="submit" class="btn btn-2 btn-lg"> Sign in</button>
                    </div>
                </div>

            </form>


        </div>
        </div>
    </div>



<!--<form method="POST">&ndash;&gt;-->
<!--        {% csrf_token %}-->

<!--        <legend>Login </legend>-->

<!--        {{form.as_p }}-->

<!--        <div>-->
<!--            <button type="submit">Login</button>-->
<!--        </div>-->
<!--    </form>-->




{% endblock content %}