{% extends 'base/main.html' %}
{% load static %}

{% block style_link %}
<link rel="stylesheet" href="{% static 'base/signup_style.css' %}">
{% endblock style_link %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div id="content">
                <h1>Thank you</h1>
                <h1>for visiting our website!</h1>
                </div>
            </div>
        </div>
         <div class='row'>
                        <div class='col-12'>
                            <button type="submit" class="btn btn-2 btn-lg">
                                <a href="{% url 'login' %}"> Log in again </a>
                            </button>
                        </div>
                    </div>
    </div>
{% endblock content%}