body {
  background-image: url("/media/dog_about.jpg");
    background-size: cover;
  background-position: center;
    background-color: #6c6c6c;
  background-blend-mode: multiply;
  font-family: Lato;
  color: #FDFEFE;
}
.small-font-color {
  color: white;
  font-style: italic;
  font-size: larger;
  background-color: hsl(0, 0%, 40%, 0.2);
  border-radius: 0.5em;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }