body {
	background-image: url("/media/dog_home.jpg");
	background-size: cover;
    background-position: center;
	background-color: #6c6c6c;
    background-blend-mode: multiply;
    font-family: Lato;
    color: white;

}

html{
    height: 100%;
}
#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}
h1{
    font-weight: 700;
    font-size: 5em;
}

hr{
   max-width: 400px;
   border-top: 1px solid #f8f8f8;
   border-bottom: 1px solid rgba(0,0,0,0.2);
}
button.btn-2 {
	color:white;
	background-color: #5092b9;
	border-radius: 1em;
	outline: none;
}
button.btn-2:hover {
	color: #92bad3;
	background-color: hsla(0, 0%, 0%, 0.09);
	border: 3px solid #5092b9;
}


.nav-link{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 100;
	overflow: hidden;
	background: linear-gradient(45deg, #ff3300 50%, 	 #ff3300 50%, #ffffff 50%);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 400ms ease;
}

.nav-link:hover {
	background-position: 0 100%;
}

.clickedToggler{
	padding-top: 0;
	background:red;
}


@media (max-width:576px){
	h1{
		font-size: 3em;
	}

	h3 {
		font-size: 1em;
	}
#content{
    padding-top: 50%;
}
}


a, a:hover {
    text-decoration: none;
    color:white;
	background-color: none;

}



