body {
    background-image: url("/media/dog_home.jpg");
	background-size: cover;
    background-position: center;
	background-color: #6c6c6c;
    background-blend-mode: multiply;
    font-family: Lato;
    color: white;
}
html{
    height: 100%;
}
hr{
    max-width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
 }
 a {
    color:white;
    text-decoration: none;
    background-color: none;
}
a:hover {
    color:white;
    text-decoration: none;
    background-color: #ff6666;
    border: chocolate;
    border: 3px solid;
    border-radius: 0.5em;

}
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#6ab04c;
  color:#fff;
}

.special-card {
/* create a custom class so you
   do not run into specificity issues
   against bootstraps styles
   which tends to work better than using !important
   (future you will thank you later)*/

  background-color: rgba(245, 245, 245, 1);
  opacity: .55;
}

.btn {
	color:white;
	background-color: #5092b9;
	border-radius: 1em;
    outline: none;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom:15px;
}
.btn :hover {
	color: #92bad3;
	background-color: hsla(0, 0%, 0%, 0.09);
	border: 3px solid #5092b9;
}

a, a:hover {
    text-decoration: none;
    color:white;
	background-color: none;

}
