#form_container
{
    padding:15px 15px;
    margin-top:15px;
    background: rgba(0,0,0,0.5);
    color:#fff;
    border: black;
    border-radius: 3em;
}
/*
body
{
    background-image: url("/media/dog_contact.jpg");
    background-size: cover;
    background-position: center;
    background-color: #6c6c6c;
    background-blend-mode: multiply;
    font-family: Lato;
    font-weight: 300;
    font-size: 25px;
    color: white;

}
*/

button.btn {
    color:white;
    background-color: #5092b9;
    border-radius: 1em;
    outline: none;
    margin-left: 425px;

}
button.btn:hover {
    color: #92bad3;
    background-color: hsla(0, 0%, 0%, 0.09);
    border: 2px solid #5092b9;
}
.upload-btn-wrapper
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file]
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

