.btn {
	color:white;
	background-color: #5092b9;
	border-radius: 1em;
    outline: none;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}
.btn:hover {
	color: #92bad3;
	background-color: hsla(0, 0%, 0%, 0.09);
	border: 3px solid #5092b9;
}
a, a:hover{
    color:white;
    text-decoration: none;
    background-color: none;
}

body {
    background-image: url("/media/dog_home.jpg");
	background-size: cover;
    background-position: center;
	background-color: #6c6c6c;
    background-blend-mode: multiply;
    font-family: Lato;
    background-color: rgba(245, 245, 245, 1);
    opacity: .85;
}
html{
    height: 100%;
}