#box{
    border: 2px solid gray;
    border-radius: 1em;
}
button.btn-2 {
	color:white;
	background-color: #5092b9;
	border-radius: 1em;
    outline: none;
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom:15px;
}
button.btn-2:hover {
	color: #92bad3;
	background-color: hsla(0, 0%, 0%, 0.09);
	border: 3px solid #5092b9;
}

body{
     background-repeat: no-repeat;
}