{% extends 'base/main.html' %}
{% load static %}


{% block style_link %}
    <link rel="stylesheet" href="{% static 'base/about_style.css' %}">
{% endblock style_link %}

{% block content %}
     <!-- <div class="bg-first"> -->
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">Know more about us and our project.</h1>
              <p class="small-font-color">We amplify the voices that need to be heard.</p>
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://img.icons8.com/cotton/2x/dog-bone.png" alt="" class="img-fluid"></div>
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="bg-white py-5"> -->
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
              <h2 class="font-weight-light">Are you looking for a friend?</h2>
              <p class="small-font-color">Home is what you make it. If you feel like you could use some company, look
              no further. Browse our website and decide on who your best  friend gonna be.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://img.icons8.com/cotton/2x/dog--v3.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://img.icons8.com/cotton/2x/dog-sit.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
              <h2 class="font-weight-light">Are you a shelter?></h2>
              <p class="small-font-color">Help your loved ones find their cozy home faster! Our webiste allows you
              to reach a larger audience.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
          </div>
        </div>
      <!-- </div> -->

<!--      &lt;!&ndash; <div class="bg-light py-5"> &ndash;&gt;-->
<!--        <div class="container py-5">-->
<!--          <div class="row mb-4">-->
<!--            <div class="col-lg-5">-->
<!--              <h2 class="display-4 font-weight-light">Our team</h2>-->
<!--              <p class="small-font-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row text-center">-->
<!--            &lt;!&ndash; Team item&ndash;&gt;-->
<!--            <div class="col-xl-3 col-sm-6 mb-5">-->
<!--              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--                <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>-->
<!--                <ul class="social mb-0 list-inline mt-3">-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End&ndash;&gt;-->

<!--            &lt;!&ndash; Team item&ndash;&gt;-->
<!--            <div class="col-xl-3 col-sm-6 mb-5">-->
<!--              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--                <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>-->
<!--                <ul class="social mb-0 list-inline mt-3">-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End&ndash;&gt;-->

<!--            &lt;!&ndash; Team item&ndash;&gt;-->
<!--            <div class="col-xl-3 col-sm-6 mb-5">-->
<!--              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--                <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>-->
<!--                <ul class="social mb-0 list-inline mt-3">-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End&ndash;&gt;-->

<!--            &lt;!&ndash; Team item&ndash;&gt;-->
<!--            <div class="col-xl-3 col-sm-6 mb-5">-->
<!--              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--                <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>-->
<!--                <ul class="social mb-0 list-inline mt-3">-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>-->
<!--                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->
<!--      &lt;!&ndash; </div> &ndash;&gt;-->


      <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">&copy; Copyrights Adogtme All rights reserved.</p>
        </div>
      </footer>

{% endblock content%}