{% extends 'base/main.html' %}
{% load static %}

{% block style_link %}
    <link rel="stylesheet" href="{% static 'base/browse_offers_style.css' %}">
{% endblock style_link %}


{% block content %}

<div class="container py-5">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="container py-5">
                    <header class="text-center text-white">
                        <h1 class="display-4">Browse dogs</h1>
                        <p class="lead mb-0 font-italic">Love at the first sight.</p>
                        <hr>
                    </header>
                    <div class="container">
                        {% for offer in offers %}
                        <div class="row">

                            <div class="col-md-4"></div>

                            <div class="col-md-4">
                                <div class="card profile-card-2 special-card">
                                    <div class="card-content">
                                        <h1 style="color:black; text-align: center;">{{ offer.name }}</h1>
                                        <h2 style="color:black; text-align: center;">Age: {{offer.age}}</h2>
                                        <h3 style="color:black; text-align: center; font-style: italic;">Breed: {{offer.breed}}</h3>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">
                                <a href="{% url 'offer-detail' offer.id %}">View full advert</a>
                                </button>
                             <div class="col-md-4"></div>



                        </div>
                    </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>


<!--<div id="main">-->
<!--    {% for offer in offers %}-->
<!--        <div id="offer">-->
<!--            <p>{{ offer.name }} </p>-->
<!--        </div>-->

<!--    {% endfor %}-->
<!--</div>-->
{% endblock content %}