{% extends 'base/main.html' %}
{% load static %}

{% block style_link %}
    <link rel="stylesheet" href="{% static 'base/contact_style.css' %}">
{% endblock style_link %}


{% block content %}
<div class="container mt-5" >
        <div class="row">
            <div id="box" class="col-md-12 mx-auto">
                <div class='container md-12'>
                    <div class="row">
                        <div class="col-md-12  " id="form_container">
                            <h1 style="text-align: center;">Contact us</h1>
                            <p style="text-align: center;">
                                Stay in touch and give some feedback.
                            </p>
                            <form role="form" method="post" id="reused_form">

                                <div class="row">
                                    <div class="col-sm-6  form-group">
                                        <label for="message">
                                            Message:</label>
                                        <textarea class="form-control" type="textarea" id="message" name="message"
                                            maxlength="6000" rows="3"></textarea>

                                    </div>
                                    <div class="col-sm-6 ">
                                        <label for="message">
                                            Info:</label>
                                        <h4 style="font-weight: 300;"><i class="far fa-envelope"></i>

                                            adogtme@gmail.com</h4>
                                        <hr>
                                        <h4 style="font-weight: 300;"><i class="fas fa-phone"></i>

                                            111-111-111</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 form-group">
                                        <label for="name">
                                            Your Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label for="email">
                                            Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <button type="button" class="btn btn-lg ">Send →</button>
                                    </div>
                                </div>

                            </form>

                            <div id="success_message" style="width:100%; height:100%; display:none; ">
                                <h3>Posted your message successfully!</h3>
                            </div>
                            <div id="error_message" style="width:100%; height:100%; display:none; ">
                                <h3>Error</h3>
                                Sorry there was an error sending your form.

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>


{% endblock content %}