{% extends 'base/main.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div id="content">
                <h1>Adopt a dog </h1>
                <h3> Change a life.</h3>
                <hr>
                <button type="button" class="btn btn-2 btn-lg"><i class="fas fa-paw"></i>
                   <a href="{% url 'signup' %}"> Join now</a>
                </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}