{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOGT</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'base/app.css' %}">
    {% block style_link %}

    {% endblock style_link %}


    <script src="https://kit.fontawesome.com/536c99e36a.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand pt-0" href="{% url 'browse-offers' %}">
    		<img src="/media/logo_biale.png" width=90px alt="">
 		 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand pt-0" href="{% url 'home' %}">
    		<img src="/media/logo_biale.png" width=90px alt="">
 		 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


        {% endif %}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  {% if user.is_authenticated %}

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'browse-offers' %}">Browse Dogs </a>
      </li>
     	<li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}">About </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
      </li>
    </ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'profile' %}">My Profile </a>
      	</li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'logout' %}">Logout </a>
      	</li>
	  </ul>
      </div>
    </nav>


  {% else %}
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
      </li>
     	<li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}">About </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
      </li>
    </ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'signup' %}">Sign Up </a>
      	</li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'login' %}">Login </a>
      	</li>
	  </ul>

        </div>
    </nav>


    {% endif %}


    {% block content %}


    {% endblock content %}

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="app.js"></script>


</body>
</html>