{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOGT</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'base/offer_detail_style.css' %}">
     <script src="https://kit.fontawesome.com/536c99e36a.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand pt-0" href="{% url 'browse-offers' %}">
    		<img src="/media/logo_biale.png" width=90px alt="">
 		 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand pt-0" href="{% url 'home' %}">
    		<img src="/media/logo_biale.png" width=90px alt="">
 		 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


        {% endif %}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  {% if user.is_authenticated %}

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'browse-offers' %}">Browse Dogs </a>
      </li>
     	<li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}">About </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
      </li>
    </ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'profile' %}">My Profile </a>
      	</li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'logout' %}">Logout </a>
      	</li>
	  </ul>
      </div>
    </nav>


  {% else %}
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
      </li>
     	<li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}">About </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
      </li>
    </ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'signup' %}">Sign Up </a>
      	</li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'login' %}">Login </a>
      	</li>
	  </ul>

        </div>
    </nav>
    {% endif %}


<div class="container">
        <br>

    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
    <article class="gallery-wrap">
    <div class="img-big-wrap">
      <div><img src="/media/dog_detail.jpg" height=300 width=450>
    <ul>
        <h3 style="text-align: center;">Apertment friendly</h3>
        <p style="text-align: center;">{{ object.is_apartment_friendly}}</p>
        <h3 style="text-align: center;">Family friendly</h3>
        <p style="text-align: center;">{{object.is_family_friendly}}</p>
        <h3 style="text-align: center;">Kid friendly</h3>
        <p style="text-align: center;">{{object.is_kid_friendly}}</p>
        <h3 style="text-align: center;">Dog friendly </h3>
        <p style="text-align: center;">{{object.is_dog_friendly}}</p>
    </ul>
    </div>
    </div> <!-- slider-product.// -->

    </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
    <article class="card-body p-5">
        <h3 class="title mb-3">{{ object.name }}</h3>


    <dl class="item-property">
      <dt>Age</dt>
      <dd><p>{{ object.age }} </p></dd>
    </dl>
    <dl class="param param-feature">
      <dt>Breed</dt>
      <dd>{{ object.breed }}</dd>
    </dl>  <!-- item-property-hor .// -->
    <dl class="param param-feature">
      <dt>Sex</dt>
      <dd>{{ object.sex}}</dd>
    </dl>  <!-- item-property-hor .// -->

    <dl class="param param-feature">
      <dt>Weight</dt>
      <dd>{{ object.weight }}</dd>
    </dl>  <!-- item-property-hor .// -->

     <dl class="param param-feature">
      <dt>Energy lever</dt>
      <dd>{{ object.energy_level }}</dd>
    </dl>

    <dl class="param param-feature">
      <dt>Good for beginners?</dt>
      <dd>{{ object.is_good_for_beginners }}</dd>
    </dl>  <!


    <dl class="param param-feature">
        <dt>Description</dt>
        <dd>{{ object.desc }}</dd>
      </dl>  <!-- item-property-hor .// -->

    <hr>

            <div class="col-sm-7">

            </div> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
        <button type='button' class='btn btn-lg btn-primary text-uppercase coolStuffBtn' data-toggle="modal" data-target="#coolStuffModal"><a href="#" > ADOPT </a></button>
    </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->


    </div>
    <!--container.//-->




</div>
<!-- MODAL -->
<div class="modal fade" id="coolStuffModal" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adoption info </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='container-fluid'>
                    <div class='row'>
                        <div class='col-sm-12'>

                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='modalFormWrapper'>
                                <form>
                                    <div class="form-group">
                                        <h1 style="text-align: center;padding-bottom: 3px;">If interested, contact us:</h1>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <h4 style="font-weight: 300;"><i class="far fa-envelope"></i>

                                            {{object.owner.user.email}}</h4>
                                        <hr>
                                        <h4 style="font-weight: 300;"><i class="fas fa-phone"></i>

                                            {{ object.owner.phone_number}}</h4>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="app.js"></script>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="app.js"></script>


</body>
</html>

