{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOGT</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% if user.is_shelter %}
        <link rel="stylesheet" href="{% static 'base/profile_shelter_style.css' %}">
    {% elif user.is_adopter %}
        <link rel="stylesheet" href="{% static 'base/profile_adopter_style.css' %}">
    {% endif %}


    <script src="https://kit.fontawesome.com/536c99e36a.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand pt-0" href="{% url 'home' %}">
    		<img src="/media/logo_biale.png" width=90px alt="">
 		 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  {% if user.is_authenticated %}

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'browse-offers' %}">Browse Offers </a>
      </li>
     	<li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}">About </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
      </li>
    </ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'profile' %}">My Profile </a>
      	</li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'logout' %}">Logout </a>
      	</li>
	  </ul>
      </div>
    </nav>


  {% else %}
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
      </li>
     	<li class="nav-item ">
        <a class="nav-link" href="{% url 'about' %}">About </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
      </li>
    </ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'signup' %}">Sign Up </a>
      	</li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'login' %}">Login </a>
      	</li>
	  </ul>

        </div>
    </nav>
    {% endif %}



    {% if user.is_shelter %}

        <div class="container py-5 text-center">
            <h1 class="display-1 font-weight-bold " style='text-align: auto; color:white;'>Right here, it's all about You</h1>
            <p class="font-italic " style="font-size: larger; color:white;">Review your profile information.</p>
        </div>
    </div>
    <div class="container">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="card user-card-full">
                            <div class="row ">
                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25"> <img
                                                src="https://img.icons8.com/bubbles/100/000000/organization.png"
                                                class="img-radius" alt="User-Profile-Image"> </div>
                                        <h6 class="f-w-600">{{ shelter.shelter_name}}</h6>

                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">User information</h6>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">Website</p>
                                                <h6 class="text-muted f-w-400">{{ shelter.website }}</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">Location</p>
                                                <h6 class="text-muted f-w-400">{{ shelter.location }}</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">Phone number</p>
                                                <h6 class="text-muted f-w-400">{{ shelter.phone_number }}</h6>
                                            </div>
                                        </div>
                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">More options</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600" style="text-align:left;"><a href="#">Update
                                                        your profile info</a></p>

                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600" style="text-align: right;"><a href="{% url 'create-offer' %}">Create
                                                        offer</a></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- SNIPPET CODE FOR MATI  -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="app.js"></script>



    {% elif user.is_adopter %}
 <!-- SNIPPET CODE FOR MATI  -->
    <div class="container py-5 text-center">
        <h1 class="display-1 font-weight-bold " style='text-align: auto; color:white;'>Right here, it's all about You</h1>
        <p class="font-italic " style="font-size: larger; color:white;">Review your profile information.</p>
    </div>
</div>
    <div class="container">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25"> <img
                                                src="https://img.icons8.com/bubbles/100/000000/caveman.png"
                                                class="img-radius" alt="User-Profile-Image"> </div>
                                        <h6 class="f-w-600">{{adopter.adopter_name}}</h6>

                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">User information</h6>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">E-mail</p>
                                                <h6 class="text-muted f-w-400">{{ adopter.user.email }}</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">Location</p>
                                                <h6 class="text-muted f-w-400">{{ adopter.location }}</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">Age</p>
                                                <h6 class="text-muted f-w-400">{{ adopter.age }}</h6>
                                            </div>
                                        </div>
                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">More options</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600" style="text-align:left;"><a href="#">Update
                                                        your profile info</a></p>

                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600" style="text-align: right;"><a href="{% url 'create-pref' %}">Create
                                                        preference</a></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SNIPPET CODE FOR MATI  -->

    {% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="app.js"></script>


</body>
</html>


